SECRET_KEY=your_secret_key_here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,web

TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
REDIS_URL=redis://redis:6379/1

DB_ENGINE=django.db.backends.postgresql
DB_NAME=transfer_db
DB_USER=busser_killer
DB_PASSWORD=your_db_password_here
DB_HOST=db
DB_PORT=5432

RABBITMQ_URL=amqp://busser_killer:your_rabbitmq_password@rabbitmq:5672/
RABBITMQ_PASS=your_rabbitmq_password
WEB_PORT=8000
