.idea
*.env
*.pyc
.vscode
# Ignore all files in migrations directories
**/migrations/*.py
**/migrations/*.pyc

# But keep the __init__.py files
!**/migrations/__init__.py

# celery
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal